
.header {
  background-color: #0c1529;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.logo img {
  margin: 0 auto;
  width: 300px;
}

.logo {
  background-color: #0c1529;
}


.navList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.navList li {
  margin: 0 15px;
}

.navList li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background-color: #007bff;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.hero .highlight {
  background-color: #fdba28;
  color: #333;
  padding: 5px 10px;
}   

.hero h2 {
  margin: 0;
  font-size: 36px;
}

.hero p {
  font-size: 18px;
  margin: 10px 0 20px;
}

.ctaButton {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.ctaButton:hover {
  background-color: #218838;
}

.infoSection {
  padding: 40px 20px;
  text-align: center;
}

.infoSection h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.infoSection p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto 20px;
}

.infoSection ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

ul.comparisonList {
  list-style: circle !important;
  padding: 0;
  margin: 20px 0;
}

.comparisonList li {
  margin: 10px 0;
}

.comparisonList li a {
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
}

.comparisonList li a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer a.social{
  color: #333;
  background-color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.footer a.social:hover{
  color: #fff;
  background-color: #333;
}


.pageComparisonsGrid {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  }

.pageComparisonsGrid a {
  display: block;
  min-width: 240px;
}
.pageComparisonsGrid div {
  transition-duration: 500ms;
  transition-property: background-color;
}
.pageComparisonsGrid div:hover {
  background-color: #89d6f2;
  color: white;
}

  .navList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navList > li {
    position: relative;
    margin-right: 20px;
  }
  
  .subMenu {
    position: relative;
  }
  
  .dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 150px;
    z-index: 10;
  }
  
  .dropdownMenu li {
    padding: 10px;
    margin:0;
  }

  .dropdownMenu li:hover {
    background-color: #0afff7;
  }
  
  .dropdownMenu li a {
    text-decoration: none;
    color: #333;
  }
  
  .subMenu:hover .dropdownMenu {
    display: block;
  }
  